name: Aegis Dockerhub image build/push

on:
  schedule:
  - cron: "0 0 * * 5"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - 
      name: Checkout
      uses: actions/checkout@v3
    - 
      name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    -
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
      with:
        buildkitd-flags: --debug
    -
      name: Build and push image
      uses: docker/build-push-action@v4
      with:
        context: docker/weekly_build
        file: docker/weekly_build/Dockerfile
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/aegis/stable
